In [3]:
import pandas as pd
import numpy as np
import os, sys, inspect

# add parent dir to system dir
currdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
rootdir = os.path.dirname(currdir)
sys.path.insert(0, rootdir)

from src.utils import get_temporal_data, get_spatial_data

In [4]:
ffname_realestate = os.path.join(rootdir, "data", "int", "realestate_demographics.csv")
realestate_df = pd.read_csv(ffname_realestate)

In [5]:
ziptrend = get_temporal_data(78701,realestate_df)

In [6]:
ziptrend.head()

,Zip Code,Year,Month,Home Value Index,Median Listing Price,Median Listing Price Per sqf,Sales,Median Income (dollars),Number of Households,Mortgage Rate_15,Mortgage Rate_30,Total_NewConstructions,Total_RemodelsRepairs,TotalCost_NewConstructions,TotalCost_RemodelRepairs,Inventory Measure,Median Price Cut,Median Price of Reduction,Median Rental Price
0,78701,1996,4,152500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,78701,1996,5,153600.0,NaN,NaN,NaN,NaN,NaN,7.54,8.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,78701,1996,6,154600.0,NaN,NaN,NaN,NaN,NaN,7.82,8.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,78701,1996,7,155500.0,NaN,NaN,NaN,NaN,NaN,7.71,8.19,3.0,71.0,216470.0,4000.0,NaN,NaN,NaN,NaN
4,78701,1996,8,156300.0,NaN,NaN,NaN,NaN,NaN,7.60,8.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
yeartrend = get_spatial_data(2012,realestate_df)
yeartrend.head()

,Zip Code,Year,Month,Home Value Index,Median Listing Price,Median Listing Price Per sqf,Sales,Median Income (dollars),Number of Households,Mortgage Rate_15,Mortgage Rate_30,Total_NewConstructions,Total_RemodelsRepairs,TotalCost_NewConstructions,TotalCost_RemodelRepairs,Inventory Measure,Median Price Cut,Median Price of Reduction,Median Rental Price
189,78701,2012,1,268700.0,NaN,329.810412,8.0,63873.0,3235.0,3.24,3.98,0.0,1.0,0.0,15100.0,NaN,10000.0,2.942042,2050.0
190,78701,2012,2,269200.0,NaN,327.616929,8.0,64262.0,3262.0,3.19,3.95,0.0,1.0,0.0,10250.0,NaN,20000.0,4.264578,2095.0
191,78701,2012,3,269800.0,NaN,330.687831,67.0,64651.0,3289.0,3.23,3.99,1.0,2.0,25000.0,42800.0,NaN,10000.0,1.395797,2200.0
192,78701,2012,4,268800.0,NaN,346.828610,14.0,65040.0,3316.0,3.12,3.88,0.0,2.0,0.0,325000.0,NaN,10000.0,1.803607,2200.0
193,78701,2012,5,267000.0,NaN,375.370971,21.0,65429.0,3343.0,2.97,3.75,NaN,NaN,NaN,NaN,NaN,10000.0,2.962963,2100.0